tables:
    stats_appsflyer_raw_new:
        engine: CollapsingMergeTree
        main_table: stats_appsflyer_raw_new
    core_appsflyermapping:
        engine: CollapsingMergeTree
        main_table: core_appsflyermapping
    stats_appsflyer_raw_adset_space:
        engine: CollapsingMergeTree
        main_table: stats_appsflyer_raw_adset_space
    stats_appsflyer_raw_country_space:
        engine: CollapsingMergeTree
        main_table: stats_appsflyer_raw_country_space
    stats_appsflyer_raw_event_space:
        engine: CollapsingMergeTree
        main_table: stats_appsflyer_raw_event_space

clickhouse:
    host: localhost
    port: 9000
    database: default
    username: default
    params:
        debug: false

postgres:
    host: localhost
    port: 5432
    database: pg2ch
    user: postgres
    replication_slot_name: my_slot
    publication_name: my_pub

lsnStateFilepath: state.yaml
inactivity_flush_timeout: '30s'
